<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetMVCEgitimi.NetCoreMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNetMVCEgitimi.NetCoreMVC.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("OzelCss", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NetCoreMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a href="/MVC01RazorSyntax" class="nav-link text-dark">Razor Syntax</a>
                        </li>
                        <li class="nav-item">
                            <a href="/MVC02HtmlHelpers" class="nav-link text-dark">Html Helpers</a>
                        </li>
                        <li class="nav-item">
                            <a href="/MVC03DataTransfer" class="nav-link text-dark">DataTransfer</a>
                        </li>
                        <li class="nav-item">
                            <a href="/MVC04ModelBinding" class="nav-link">ModelBinding</a>
                        </li>
                        <li class="nav-item">
                            <a href="/MVC05ModelValidation" class="nav-link">ModelValidation</a>
                        </li>
                        <li class="nav-item">
                            <a href="/MVC06CRUD" class="nav-link">CRUD</a>
                        </li>
                        <li class="nav-item">
                            <a href="/MVC07Section" class="nav-link">Section</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @* Views altındaki sayfalar buradaki RenderBody metodunun içerisinde çalıştırılır. *@
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AspNetMVCEgitimi.NetCoreMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        @await RenderSectionAsync("OzelIcerik", required: false)
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
