
@{
    ViewData["Title"] = "Admin Anasayfa";
}

<h1>Admin Anasayfa</h1>

<p class="alert alert-info">
    Area yı ekledikten sonra program cs ye bu area için route ayarı eklememiz gerekir!
    <br />
    Kod örneği oluşan ScaffoldingReadMe.txt dosyasında mevcuttur.
</p>

<p class="alert alert-danger">
    <b>Not: </b> Area kullanımında controller ların üzerine area admin şeklinde attribute eklenmesi gerekir.
    Mvc bu attribute den o controller ın area içinde çalıştığını anlıyor
</p>