
@{
    ViewBag.Title = "Web.Config Dosyasından Değer Okuma";
}

<h2>Web.Config Dosyasından Değer Okuma</h2>

<p>
    Mvc ile web config dosyasına yazacağımız özel verilere erişip uygulama içerisinde kullanabiliriz.
</p>

<p class="alert alert-info">
    <b>Mailin Gidecegi Adres:</b> @ViewBag.MailinGidecegiAdres
</p>

<p class="alert alert-danger">
    <b>Mail Kullanici Adi:</b> @ViewBag.MailKullaniciAdi
</p>

<p class="alert alert-primary">
    <b>Mail Şifre:</b> @ViewBag.MailSifre
</p>