<li class="nav-item">
    <a href="/MVC08Partial" class="nav-link">Partial</a>
</li>

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Diğer
    </a>

    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/MVC09ViewResults">ViewResults</a></li>
        <li><a class="dropdown-item" href="/MVC10FileUpload">FileUpload</a></li>
        <li><a class="dropdown-item" href="/MVC11Cookie">Cookie</a></li>
        <li><a class="dropdown-item" href="/MVC12Session">Session</a></li>
        <li><a class="dropdown-item" href="/MVC13StringFormat">StringFormat</a></li>
        <li><a class="dropdown-item" href="/MVC14AppSetting">AppSetting</a></li>
        <li><a class="dropdown-item" href="/MVC15FiltersUsing">FiltersUsing</a></li>
    </ul>
</div>